<!DOCTYPE html>
<html>
  <head>
    <title>WEbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="WEbook"/>
    <meta property="og:image" content="<%= image_url('webookLogin.png') %>"/>
    <meta property="og:description" content="A Facebook clone."/>
    <meta property="og:url" content="https://w3book.herokuapp.com/"/>

    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedinLogo.png') %>";
      window.github = "<%= image_url('githubLogo.png') %>";
      window.portfolio = "<%= image_url('profilePic.JPG') %>";
      window.angellist = "<%= image_url('angellist.png') %>";
      window.keyboard = "<%= image_url('keyboard.png') %>";
      window.movie = "<%= image_url('movie.png') %>";
      window.thumbsUpIcon = "<%= image_url('thumbsUpIcon.png') %>";
      window.homeButton = "<%= image_url('homeButton.png') %>";
      window.notification = "<%= image_url('notificationLogo.png') %>";
      window.defaultPicture = "<%= image_url('defaultPicture.png') %>";
      window.webook = "<%= image_url('webook.png') %>";
    </script>

    <%= favicon_link_tag asset_path('webook.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
