<!DOCTYPE html>
<html>
  <head>
    <title>WEbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= favicon_link_tag asset_path('logo_only.png') %>

    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedinLogo.png') %>";
      window.github = "<%= image_url('githubLogo.png') %>";
      window.portfolio = "<%= image_url('portfolio.png') %>";
      window.angellist = "<%= image_url('angellist.jpeg') %>";
      window.keyboard = "<%= image_url('keyboard.png') %>";
      window.movie = "<%= image_url('movie.png') %>";
      window.thumbsUpIcon = "<%= image_url('thumbsUpIcon.png') %>";
      window.homeButton = "<%= image_url('homeButton.jpg') %>";
      window.notification = "<%= image_url('notificationLogo.png') %>";
      window.defaultPicture = "<%= image_url('defaultPicture.png') %>";
    </script>

    <%= favicon_link_tag asset_path('WE_favicon.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
